<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<style>

body{
    background:#111;
    color:white;
    font-family:Arial;
    padding:40px;
}

.card{
    background:#222;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

.btn{
    background:green;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:8px;
}

.lock{
    color:red;
}

</style>

</head>

<body>

<h1>Uploaded Files</h1>

{% for file in files %}
<form
action="/admin/upload_translated/{{ file.id }}"
method="POST"
enctype="multipart/form-data">

    <input
    type="file"
    name="translated_file"
    required>

    <button class="btn" type="submit">
        Upload Translated File
    </button>

</form>

<br>
<div class="card">

    <h3>{{ file.filename }}</h3>

    <p>{{ file.customer_name }}</p>

    <p>{{ file.email }}</p>

    {% if file.paid %}

        <a class="btn" href="/download/{{ file.id }}">
            Download File
        </a>

    {% else %}

        <p class="lock">
            Payment Required
        </p>

        <img
        src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=upi://pay?pa=9818354183@ybl&pn=DAIVIK&am=49&cu=INR">

    {% endif %}

</div>

{% endfor %}

</body>
</html>
